{
    "singleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": false,
    "printWidth": 80,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-tailwindcss"] 
}

